<div class="event box">
    <div class="event-wrapper">
        <img src="https://images.unsplash.com/photo-1516450360452-9312f5e86fc7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" class="event-img" />
        <div class="event-date">
            <div class="event-month">Jan</div>
            <div class="event-day">01</div>
        </div>
        <div class="event-title">Winter Wonderland</div>
        <div class="event-subtitle">01st Jan, 2019 07:00AM</div>
    </div>
</div>

{{!-- TODO: merge these styles into tailwind
.box {
 background-color: $bg-color;
 border-radius: 4px;
}
.event {
 position: relative;
 margin-top: 20px;
 padding: 10px;
}

.event-wrapper {
 position: relative;
}

.event-img {
 max-width: 100%;
 display: block;
 padding-bottom: 12px;
}

.event-date {
 position: absolute;
 left: 20px;
 top: 15px;
}

.event-month {
 background-color: #1687fa;
 padding: 7px 20px;
 font-weight: 600;
 font-family: $title-font;
 color: #fff;
 text-align: center;
 border-radius: 4px 4px 0 0;
}

.event-day {
 width: 100%;
 backdrop-filter: blur(4px);
 color: #fff;
 font-size: 22px;
 font-weight: 600;
 font-family: $title-font;
 background-color: rgba(0, 0, 0, 0.4);
 padding: 6px 0;
 text-align: center;
}

.event-title {
 color: #c3c5d5;
 margin-bottom: 5px;
 font-family: $title-font;
 font-weight: 600;
 padding: 0 14px;
}

.event-subtitle {
 color: $side-title;
 font-family: $title-font;
 font-size: 13px;
 font-weight: 500;
 padding: 0 14px;
} --}}

{{!-- TODO: pick a carousel style game display https://daisyui.com/components/carousel/ --}}