<div class="profile">
    <!-- TODO: Profile details here -->

    <div class="posts-container">
        {{#each posts}}
            {{> post}} <!-- TODO: Use the post partial for each post -->
        {{/each}}
    </div>
</div>