<div class="flex-grow flex flex-col bg-[#181d2f]">
    <div id="search-main" class="h-15 bg-[#181d2f] relative">
        <input type="text" class="h-full w-full block bg-transparent border-none p-0 text-white font-semibold search-input" placeholder="Search" />
    </div>
</div>