<modal id="searchModal" class="hidden px-3 py-3 w-5/6 flex justify-center">
    <form class="w-5/6">
        <div class="relative">
            <input type="search" id="searchInput" class="block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300" placeholder="Search..." required>
            <button type="submit" id="searchSubmit" class="text-white absolute right-2.5 bottom-2.5 bg-purple font-medium rounded-lg text-sm px-4 py-2">Search</button>
        </div>
    </form>
</modal>