<modal id="searchModal" class="hidden">
    <div class="modal">
        <div class="modal__content">
        <div class="modal__header">
        </div>
        <div class="modal__body">
            <form class="search-form" action="/search" method="GET">
            <input class="search-form__input" type="text" name="search" placeholder="Search for a user or keywords">
            </form>
        </div>
        </div>
    </div>
</modal>