<aside class="right-0 fixed flex flex-col h-full p-3 space-y-2 w-60 bg-dark-purple text-gray-100">
	<div class="flex items-center p-2 space-x-4">
		<img src="https://source.unsplash.com/100x100/?portrait" alt="" class="w-12 h-12 rounded-full bg-gray-500">
		<div>
			<h2 class="text-lg font-semibold">Leroy Jenkins</h2>
			<span class="flex items-center space-x-1">
				<a rel="noopener noreferrer" href="#" class="text-xs hover:underline text-gray-400">View profile</a>
			</span>
		</div>
	</div>
	<div class="divide-y">
		<ul class="pt-2 pb-4 space-y-1 text-sm">
			<li>
				<a rel="noopener noreferrer" href="#" class="flex items-center p-2 space-x-3 rounded-md">
					<svg class="w-5 h-5 fill-current text-gray-400" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12,11A5,5,0,1,0,7,6,5.006,5.006,0,0,0,12,11Zm0-8A3,3,0,1,1,9,6,3,3,0,0,1,12,3ZM3,22V18a5.006,5.006,0,0,1,5-5h8a5.006,5.006,0,0,1,5,5v4a1,1,0,0,1-2,0V18a3,3,0,0,0-3-3H8a3,3,0,0,0-3,3v4a1,1,0,0,1-2,0Z"/>
                    </svg>
					<span>Profile</span>
				</a>
			</li>
			<li>
				<a id="searchButton" href="#" class="flex items-center p-2 space-x-3 rounded-md">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-5 h-5 fill-current text-gray-400">
						<path d="M479.6,399.716l-81.084-81.084-62.368-25.767A175.014,175.014,0,0,0,368,192c0-97.047-78.953-176-176-176S16,94.953,16,192,94.953,368,192,368a175.034,175.034,0,0,0,101.619-32.377l25.7,62.2L400.4,478.911a56,56,0,1,0,79.2-79.195ZM48,192c0-79.4,64.6-144,144-144s144,64.6,144,144S271.4,336,192,336,48,271.4,48,192ZM456.971,456.284a24.028,24.028,0,0,1-33.942,0l-76.572-76.572-23.894-57.835L380.4,345.771l76.573,76.572A24.028,24.028,0,0,1,456.971,456.284Z"></path>
					</svg>
					<span>Search</span>
				</a>
			</li>
			<li class="rounded-lg bg-purple text-gray-50">
				<a id="postButton" href="#" class="flex items-center p-2 space-x-3 rounded-md">
					<svg class="w-5 h-5 fill-current text-gray-400" viewBox="-2 -2 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d='M5.72 14.456l1.761-.508 10.603-10.73a.456.456 0 0 0-.003-.64l-.635-.642a.443.443 0 0 0-.632-.003L6.239 12.635l-.52 1.82zM18.703.664l.635.643c.876.887.884 2.318.016 3.196L8.428 15.561l-3.764 1.084a.901.901 0 0 1-1.11-.623.915.915 0 0 1-.002-.506l1.095-3.84L15.544.647a2.215 2.215 0 0 1 3.159.016zM7.184 1.817c.496 0 .898.407.898.909a.903.903 0 0 1-.898.909H3.592c-.992 0-1.796.814-1.796 1.817v10.906c0 1.004.804 1.818 1.796 1.818h10.776c.992 0 1.797-.814 1.797-1.818v-3.635c0-.502.402-.909.898-.909s.898.407.898.91v3.634c0 2.008-1.609 3.636-3.593 3.636H3.592C1.608 19.994 0 18.366 0 16.358V5.452c0-2.007 1.608-3.635 3.592-3.635h3.592z'/>
                    </svg>
					<span>Post</span>
				</a>
			</li>
		</ul>
	</div>
</aside>