<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PixelPals</title>
  <link rel="stylesheet" href="css/login/style.css">
  <link rel="stylesheet" href="css/login/mvp.css">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
  <!-- Render the header partial -->
  {{> header }}
  <!-- Render the sidebar partial -->
  {{> sidebar }}
  <!-- Render the post modal -->
  {{> createPost }}
  <!-- Render the sub layout -->
  {{{ body }}}
</body>
<!-- Include the JavaScript file for handling post creation -->
<script src="/public/js/posts/createPost.js"></script>
</html>