<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SpawnPoint</title>
  <link href="/css/styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Render the header partial -->
  {{> header }}
  <!-- Render the sidebar partial -->
  {{> sidebar }}
  <!-- Render the modal partials -->
  <!-- Render the sub layout -->
  {{{ body }}}
</body>
<!-- Include the JavaScript file for handling special functions -->
<script src="/js/header/signin.js"></script>
<script src="/js/header/signup.js"></script>
<script src="/js/header/signout.js"></script>
<script src="/js/userAuth/signup.js"></script>
<script src="/js/userAuth/signin.js"></script>
</html>