<div id="feedContainer" class="bg-dark p-5 flex-grow overflow-auto">
    <div id="feedContent" class="flex flex-wrap flex-col-reverse md:flex-row md:flex-nowrap sm:flex-row sm:flex-nowrap pt-5 relative z-10">
hello world
    </div>
</div>

{{!-- TODO: iterate posts in all feed. eventually add filtering feature --}}