<div class="mt-1 mb-1 fixed flex justify-center items-center w-5/6 h-screen filter drop-shadow-lg">
    <div class="rounded-lg bg-black h-full w-4/6 overflow-y-scroll">
        {{#each posts}}
            <div class="post">
                {{> post this}}
            </div>
        {{else}}
            <p class="text-center text-white">No posts to display.</p>
        {{/each}}
    </div>
</div>