<!-- TODO: add individual elements to "timeline" containers -->
<div id="profileContainer" class="bg-dark p-5 flex-grow overflow-auto">
    <div id="profileContent" class="flex flex-wrap flex-col-reverse md:flex-row md:flex-nowrap sm:flex-row sm:flex-nowrap pt-5 relative z-10">
        <div id="contentLeft" class="w-[310px] flex-shrink-0 md:w-full">

        </div>
        <div id="contentRight" class="flex-grow pl-5 md:pl-0 md:mb-5">

        </div>
    </div>
</div>