<div class="mt-1 z-10 fixed flex justify-center w-5/6 filter drop-shadow-lg">
    <div class="flex flex-col w-1/2 p-6 rounded-md sm:p-10 text-black">
        <div class="mb-8 text-center">
            <h1 class="my-3 text-4xl font-bold">Sign in</h1>
            <p class="text-sm text-gray-400">Sign in to access your account</p>
        </div>
        <form id="signinForm" novalidate="" action="" class="space-y-12">
            <div class="space-y-4">
                <div class="flex flex-col items-center">
                    <div class="flex justify-between mb-2 w-full">
                        <label for="email" class="text-sm custom-cursor-default-hover">Email Address</label>
                    </div>
                    <input type="email" name="email" id="email" placeholder="leroyjenkins@gmail.com" class="w-5/6 px-3 py-2 border rounded-md border-gray-700 bg-gray-900 text-black"required>
                </div>
                <div class="flex flex-col items-center">
                    <div class="flex justify-between mb-2 w-full">
                        <label for="password" class="text-sm custom-cursor-default-hover">Password</label>
                    </div>
                    <input type="password" name="password" id="password" placeholder="*****" class="w-5/6 px-3 py-2 border rounded-md border-gray-700 bg-gray-900 text-black"required>
                </div>
            </div>
            <div class="flex flex-col items-center space-y-2">
                <div>
                    <button id="signinSubmit" type="button" class="w-3/4 mt-1 px-8 py-3 font-semibold rounded-md hover:bg-neon-pink bg-purple text-white">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>